# IDE
.idea/
.vscode/

# Node
node_modules/
client/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Tests
coverage/

# Vite / tooling
.vite/
.eslintcache

# Temp
*.log
*.tmp

# Project
docs/

# Server
server/node_modules/
server/dist/
